* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
}

.splash {
    height: 100vh;
    flex: 3;
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    z-index: -1;
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.main {
    flex: 5;
}

.block {
    margin: 3vh 0;
    padding: 0 3vw;
}

.block>* {
    max-width: min(700px, 60vw);
}

.intro {
    height: 30vh;
    padding-bottom: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    margin: 1vh 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.form-box {
    background-color: white;
    border: 1px solid #f1f2f4;
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
}

h2 {
    font: inherit;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 2vh 0;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.7vh;
}

.fields>div {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}

.fields>div:nth-child(odd) {
    padding-right: 6vw;
}

label {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}

input {
    height: 2rem;
    width: 250px;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

button {
    /* TODO: add shadow */
    font-size: 1rem;
    font-weight: bold;
    margin: 1vh 0;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    padding: 14px 44px
}

a {
    font-weight: bold;
    color: #596D48;
    white-space: nowrap;
    text-decoration: none;
}