@font-face {
    font-family: Androgyne;
    src: url(./assets/Androgyne_TB.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-width: 37.5vw;
    --logo-height: max(7rem, 15vh);
}

body {
    background-color: rgb(247, 247, 247);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
}

.sidebar {
    position: relative;
    height: 100vh;
    width: var(--sidebar-width);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.cover {
    position: fixed;
    width: var(--sidebar-width);
    min-height: 100vh;
    object-fit: cover;
}

.logo {
    position: fixed;
    z-index: 1;
    top: calc(max(10rem + max(20px, 6vh), 36vh) - var(--logo-height));
    height: var(--logo-height);
    width: var(--sidebar-width);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
}

.logo-text {
    font-family: Androgyne, sans-serif;
    font-size: clamp(40px, 5vw, 5rem);
}

.attribution {
    position: fixed;
    bottom: min(0px, 100vh - 250px);
    z-index: 1;
    margin: 15px;
    font-size: 0.9rem;
}

.attribution a {
    color: white;
}

.main {
    width: calc(100vw - var(--sidebar-width));
    margin-bottom: 20px;
}

.block {
    margin: max(10px, 3vh) 0;
    padding: 0 max(20px, 3vw);
}

.block>* {
    max-width: min(680px, 60vw);
}

.intro {
    height: max(10rem, 30vh);
    padding-bottom: max(8px, 1.5vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p {
    margin: max(10px, 1vh) 0;
    font-size: clamp(16px, 2.3vh, 2.5rem);
    font-weight: bold;
}

.form-box {
    background-color: white;
    border: 1px solid #f1f2f4;
    box-shadow: 5px 5px 5px rgb(220, 220, 220);
}

h2 {
    font: inherit;
    font-size: clamp(18px, 2.3vh, 2.5rem);
    font-weight: bold;
    padding: max(20px, 2.5vh) 0;
}

.fields {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: max(10px, 1.7vh);
}

.fields>div {
    display: flex;
    margin-bottom: max(20px, 2vh);
    flex-direction: column;
}

.fields>div:nth-child(odd) {
    padding-right: 6vw;
}

label {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 0.1rem;
}

input {
    height: 2rem;
    width: 250px;
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
    border: 1px solid #E5E7EB;
    border-radius: 3px;
}

.button-box {
    margin: max(20px, 3vh) 0;
}

button {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #596D48;
    border: none;
    border-radius: 8px;
    padding: 15px 55px
}

a.login {
    font-weight: bold;
    color: #596D48;
    white-space: nowrap;
    text-decoration: none;
}